.corporate_btn{
    background-color: #f04935;
    border: 1px solid #ece3e2;
    color: #fff;
    /* padding: 2px 5px; */
}

.corporate_btn:hover{
    color: #f04935;
}
.primary_color{
    color: #f04935;
}
.danger{
    color: red;
}

.success_btn{
    background-color: #23832F;
    border: 1px solid #23832F;
}

.success_btn:hover{
    color: #23832F;
}
.female_sold{
    background-color: #9B51E0;
    border: 1px solid #9B51E0;
}

.female_sold:hover{
    color: #9B51E0;
}

.male_sold{
    background-color: #2D9CDB;
    border: 1px solid #2D9CDB;
}

.male_sold:hover{
    color: #2D9CDB;
}

.female_booked{
    background-color: #F2994A;
    border: 1px solid #F2994A;
}

.female_booked:hover{
    color: #F2994A;
}

.male_booked{
    background-color: #f04935;
    border: 1px solid #f04935;
}

.male_booked:hover{
    color: #f04935;
}

.block_other{
    background-color: #C9CDD1;
    border: 1px solid #C9CDD1;
}

.block_other:hover{
    color: #C9CDD1;
}

.available_other{
    background-color: #fff;
    border: 1px solid #ADB5BD;
    color: #000
}
.txt_color{
    color:#f04935;
}
.bordaring_color{
    color: rgb(14, 78, 14);
    font-weight: 600;
}
.droping_color{
    color: rgb(167, 11, 11);
    font-weight: 600;
}
.drop{
    font-size: small;
    padding: 1px;
}

.select_area_phone_btn:not(.collapsed) {
     color: rgb(245, 238, 238) !important; 
     box-shadow: none;
     border-color: 0;
}
.select_area_phone_btn:focus{
    color: white;
}