@font-face {
    font-family: Helvetica Neue;
    src: url(../fonts/HelveticaNeue.ttf);
  }


.bg_color{
    background-color: #F7F7F7;
}

.logo img{
    width: 50%;
    image-rendering: -webkit-optimize-contrast;
}

.login_logo img{
    width: 20%;
    image-rendering: -webkit-optimize-contrast;
}

.input_field{
    border: 1px solid #ddd;
    font-size: 14px !important;
    font-family: Helvetica Neue;
}
.input_field::placeholder{
    font-size: 14px !important;
    font-family: Helvetica Neue;
}
.input_field:focus{
    border: 1px solid #FF6347;
}

/* password Show-hide */
.field-icon {
    float: right;
    margin-top: -33px;
    margin-right: 14px;
    position: relative;
    z-index: 2;
}

/* Login Area */
.login_panel{
    margin-top: 10%;
}

.login_area{
    border-radius: 23px;
    background-color: #fff;
}

.login_area h2{
    font-size: 33px;
    margin: 0 ;
}

.label_font{
    font-family: Helvetica Neue;
    font-size: 18px;
}

.form-control:focus {
    border-color:#FF6347 !important;
    box-shadow: 0 0 0 2px rgba(255, 99, 71, 25%) !important;
}

.login_btn{
    background-color: #FF6347;
    border: 2px solid #FF6347;
}

.login_btn:hover{
    background-color: #fff;
    border: 2px solid #FF6347;
    color: #FF6347 !important;
}


/* ======================== Dashboard page design =========================== */
.navbar_bg{
    background-color: #3B3B3B;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.04);
}

.font_detail,
.dashboard_nav li a,
.coach_detail tr th,
.coach_detail tr td{
    font-size: 14px !important;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
}

.brand_name,
.dashboard_nav li a{
    color: #fff !important;
}
.dashboard_nav li ul li a{
    color: #000 !important;
}

.mobile_nav_toggle{
    border: 1px solid #fff !important;
    color: #fff i !important;
}

.select_area{
    background-color: #242424;
}

.common_btn{
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
}

.common_btn:hover{
    background-color: #fff;
}

.select_item{
    padding: 6px 4px 6px 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.table_head{
    background-color: #FF6347;
    color: #fff;
    padding: 5px 18px 0 18px;
    height: 45px;
}

.table_single_row {
    padding: 8px 18px;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #ececec;
    transition: 0.4s;
}

.border_end{
    border-right: 1px solid #ccc;
}
.border_end:last-child{
    border-right: none;
}

.table_row:nth-child(odd){
    background-color: #F7F7F7;
}
.table_row:nth-child(even){
    background-color: #FFFFFF;
}

.button_clicked, .table_single_row:hover {
    background-color: #ccc;
}

.details_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.15s ease;
}

.booking_info {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
.booking_info label{ 
    text-align:right; 
}
.booking_info label:after { 
    content: ":"; 
}
.form_width{
    width: 250px !important;
}

.seat_details_view{
    margin-bottom: 15px;
}
.panel_border{
    border: 0;
}

/* table head */

.table_border div{
    border-right: 1px solid #ECEDEF;
    margin-top: -4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table_border div:last-child{
    border-right: none;
}

.table_head div p{
    padding: 5px 0px;
}

.table_child div p{
    padding-top: 8px;
}
